.main {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    & > h3 {
        font-size: 32px;
    }
    & > article {
        word-wrap: break-word;
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        display: grid;
        grid-template-columns: 50% 50%;
        border: 1px solid #00000014;
        & > div {
            padding: 30px;
        }
        & > div:last-of-type {
            display: grid;
            border-left: 1px solid #00000014;
            grid-template-rows: auto;
            grid-template-columns: 50% 50%;
            align-items: center;
            word-wrap: break-word;
        }
    }
    & > a {
        align-self: flex-end;
        margin-top: 50px;
        & > button {
            padding: 20px 50px;
            border-radius: 5px;
        }
    }
}

@media (max-width: 768px) {
    .main {
        & > article {
            padding: 10px;
            display: flex;
            flex-direction: column;
            & > div {
                padding: 0;
            }
            & > div:last-of-type {
                border-left: none;
            }
        }
    }
}
