.section {
    padding: 30px;
    margin: 30px 0;
    border-radius: 5px;
    background: linear-gradient(to right, #333E48 0%, #333E48, 7px, transparent 7px), white;
    border: 1px solid #00000014;
    border-right: none;
    box-shadow: 1px 1px 3px 0 #00000014;
}

.section:hover {
    box-shadow: 2px 0 8px 0 #00000040;
}

.div {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.article {
    margin: 20px;
}

.article p {
    margin: 0;
}

@media (max-width: 768px) {
    .div {
        display: block;
    }
    .article {
        margin: 20px 0;
    }
}