.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #CFCFCF;
    padding: 40px 80px;
}
.label {
    display: flex;
    flex-direction: column;
}
textarea {
    height: 120px;
    resize: none;
}

.container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 16px;
}
.article {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.lastSection {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 15px;
}
@media (max-width: 1024px) {
    .lastSection {
        display: flex;
        flex-direction: column;
    }
    .article {
        order: 1;
        align-self: flex-start;
    }
}
.form button:last-child {
    align-self: flex-end;
}