.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #CFCFCF;
    height: 477px;
    padding: 3% 10%;
    margin: 3% 20%;
    justify-content: center;
}

.form button {
    width: 100%;
}

.p {
    text-align: center;
    text-decoration: none;
}
