.main {
    display: flex;
    flex-direction: column;
}


.article {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #00000014;
}

.article div {
    padding: 30px;
}

.courseInfo {
    display: grid;
    border-left: 1px solid #00000014;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: 50% 50%;
    align-items: center;
}

.main a {
    align-self: flex-end;
    margin-top: 50px;
}