.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    box-shadow: 1px 1px 4px 0 #00000026;
    background-color: white;
    & > div {
        & > span {
            margin: 10px;
        }
        & > a {
            & > button {
                margin: 10px;
                padding: 15px 20px;
                border-radius: 5px;
            }
        }
    }
}
