.main {
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    & > a {
        align-self: flex-end;
        & > button {
            width: 180px;
            height: 50px;
            border-radius: 5px;
        }
    }
}
