.section {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 15px;
  & > section {
    & > div {
      & > input {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #CFCFCF;
        padding: 10px;
        width: 100%;
        margin: 0 16px 16px 0;
        max-width: 400px;
      }
      & > button {
        padding: 13px 26px;
        border-radius: 5px;
      }
    }
  }

  & > ul:first-of-type {
    text-align: center;
    margin: 0;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      & > p {
        margin: 0;
      }
      & > button {
        background-color: inherit;
      }
    }
  }

  & > ul {
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      & > p {
        margin: 0;
      }
      & > button {
        background-color: inherit;
        color: black;
        margin: 8px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column;
    * {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}