.main {
  margin: 3% 10%;
  & b {
    font-size: 14px;
  }
  & > h2 {
    font-size: 32px;
  }
  & > form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2% 7%;
    & > label {
      & input, textarea {
        height: 50px;
        border-radius: 5px;
        border: 1px solid #CFCFCF;
        padding: 10px;
        width: 100%;
      }
      & > textarea {
        height: 150px;
        resize: none;
      }
      &:last-of-type > div {
        display: flex;
        & > p {
          margin: 10px;
          align-self: center;
        }
        & > input {
          max-width: 400px;
        }
      }
    }
    & > button {
      width: 185px;
      min-height: 50px;
      border-radius: 5px;
      align-self: flex-end;
      margin: 20px;
    }
  }
  & > a > button {
    margin: 20px 0;
    width: 185px;
    min-height: 50px;
    border-radius: 5px;
  }
}