.main {
    margin: 0 10%;
    & > h3 {
        text-align: center;
        font-size: 32px;
    }
    & > form {
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 1px solid #CFCFCF;
        height: 477px;
        padding: 3% 10%;
        margin: 3% 20%;
        justify-content: center;
        & > label {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            & > input {
                height: 50px;
                border-radius: 5px;
                border: 1px solid #CFCFCF;
                padding: 16px;
            }
        }
        & > button {
            height: 50px;
            border-radius: 5px;
        }
        & > a {
            text-align: center;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 720px) {
    .main {
        & > form {
            margin: 0;
        }
    }
}
