@import "~normalize.css/normalize.css";

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: #333E48;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

button {
  background-color: #007298;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #024f68;
}

button:active {
  background-color: rgba(2, 79, 104, 0.91);
}

ul {
  list-style:none;
  padding: 0;
}

.errorText {
  color: red;
  font-weight: 400;
  margin-top: 0;
}

.errorText:before {
  content: '⚠ ';
}

.errorBorder {
  border: 1px solid red!important;
  outline: red;
}
