.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    box-shadow: 1px 1px 4px 0 #00000026;
    background-color: white;
}

.header button {
    margin: 0 30px 0 30px;
    width: 140px;
}

.usernameAndButtonContainer {
    display: flex;
    flex-direction: row;
}